<!--This is an HTML post -->
<div>
  <div class="item temp">
    <div class="post-content">
      <img src="https://vinoo.co/assets/profile_default.png" width="30px" height="30px" alt="profile photo" class="profile-pic">
      <a class="author" href="#"> Firstname Lastname</a>
      <div class="date">2 days ago</div><br/>
      <a class="topic" href="#">Sample Topic</a><br/>
      <p class="abstract">Abstract of contributions page here</p>
    </div>
    <div class="react">
      <button class="share"><i class="fa fa-share"></i> Share</button>
    </div>
  </div>
<div>
